
.cont {
    background-image: url(/images/Stormclouds.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.cont::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100dvh;
    backdrop-filter: blur(10px);
    background: rgba(9, 147, 211, 0.15);
}
.main_container {
    width: 350px;
    height: 490px;
    z-index: 1;
    border-color: rgb(255, 255, 255);
    border-radius: 15px;
    background-color: rgba(86, 134, 134, 0.199);
    backdrop-filter: blur(100px);
    padding: 20px;
}
/* header */
.header_class {
    position: relative;
    margin-bottom: 25px;
}
.city_input {
    width: 100%;
    padding: 10px 15px;
    border-radius: 99px;
    border: solid 3px transparent;
    background: rgb(0, 0, 0, 0.15);
    outline: none;
    font-weight: 500;
    transition: 0.5s border;
    padding-right: 50px;
}
.city_input:focus {
    border: 3px solid rgb(56, 53, 53);
}
.city_input::placeholder {
    color: aliceblue;
}
.search_btn {
 position: absolute;
 right: 16px;
 top: 50%;
 transform: translateY(-50%);
 background: none;
 border: none;
 color: aliceblue;
 cursor: pointer;
 margin-left: 50px;
}

/* weather Section */
.weatherInfo_section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}
.location_div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.location {
    display: flex;
    align-items: center;
    gap: 10px;
}
.country_text {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
    color: white; 
}
.current_day {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
    color: white;     
}
.location_img {
    color: aliceblue;
}
.weather_sum_conteiner {
display: flex;
justify-content: space-between;
align-items: center;
}
.main_weather_ph {
    width: 120px;
    height: 120px;
    object-fit: cover;

}
.tempt_text {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    color: white;    
    font-size: 20px;
    padding-block: 5px;
}
.main_container2 {
    display: flex;
    justify-content: space-between;

}
.weather_info {
    display: flex;
    align-items: center;
    gap: 5px;
}
.condition_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.condition_item img {
    width: 30px;
}

/* third section */
.forecast_item img {
    width: 40px;
    height: 40px;
}
.third_sec_conteiner{
    display: flex; 
    gap: 15px;
    margin-top: 20px;
    overflow-x: scroll;
    padding-bottom: 12px;
}
.third_sec_conteiner::-webkit-scrollbar {
    height: 10px;
}
.third_sec_conteiner::-webkit-scrollbar-track {
    background-color:rgb(0, 0, 0, 0.1);
    border-radius: 99px;
}
.third_sec_conteiner::-webkit-scrollbar-thumb {
    background-color:rgb(0, 0, 0, 0.1);
    border-radius: 99px;
}
.forecast_item {
    min-width: 70px;
    background-color: rgb(255, 255, 255, 0.15);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    padding: 10px;
    cursor: pointer;
}
.forecast_item h5 {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    color: white;    
    font-size: 12px;
}




/* search section */
.section_message {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.section_message img {
    height: 300px;
    width: 300px;
}
.section_message div {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.section_message h3 {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    color: white;    
    font-size: 25px;
}
.section_message h4 {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
    color: white;
    font-size: 15px; 
}